<div
  class="flex justify-center items-center bg-neutral-light-grayish-blue-1 font-primary text-body md:py-10"
>
  <div
    class="bg-neutral-white rounded-lg lg:w-1/2 md:w-3/4 w-full md:my-10 md:px-5 px-2 lg:pb-10 shadow-lg"
  >
    <header class="flex flex-row justify-between items-center my-10">
      <div class="flex flex-row gap-2 items-center">
        <p class="font-bold text-lg">Notifications</p>
        <p
          class="bg-primary-blue h-6 w-8 flex justify-center items-center text-neutral-white rounded-md"
        >
          {{ unreadCount }}
        </p>
      </div>
      <button
        class="text-neutral-dark-grayish-blue hover:text-primary-blue"
        (click)="markAllAsRead()"
      >
        Mark all as read
      </button>
    </header>
    <app-notification-card
      *ngFor="let notification of notificationList"
      [notification]="notification"
    ></app-notification-card>
  </div>
</div>
